name: CI-DockerBuild

on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: Lpinto911/devops-pipelines/.github/workflows/docker-workflow.yml@main
    with:
      docker_image_name: practica
    secrets: inherit